{
  "ecmaFeatures": {
    "modules": true,
    "jsx": true
  },
  "rules": {
    "indent": [
        2,
        2,
        { "SwitchCase": 1 }
    ],
    "quotes": [
        2,
        "single"
    ],
    "linebreak-style": [
        2,
        "unix"
    ],
    "semi": [
        2,
        "always"
    ],
    "no-console": [ 0 ],
    "no-undef": [ 1 ],
    "no-unused-vars": [ 1 ],
    "comma-dangle": [ 0 ],
    "react/react-in-jsx-scope": 1,
    "react/require-extension": 1,
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "globals": {
    // libs
    "jQuery": true,

    // Jasmine
    "describe": true,
    "it": true,
    "expect": true
  },
  "extends": "eslint:recommended"
}
