/target/
/live/
/tmp/

/**/build/
/**/logs/
/**/node_modules/
/**/bower_components/
/**/tmp/
/**/unused/
/**/vendor/

commit.msg
.git
.vagrant
.~lock.*
*.bak
*.log

/.buildpath
/.externalToolBuilders/
/.idea
/.metadata
/.project
/.settings
/.DS_Store
