/*
 * Globals
 */

::-webkit-calendar-picker-indicator {
  color: red;
  background-image: url('img/cal.gif');
}

.debug {
	/* color: white; */
	/* background-color: yellow; */
	border-left: solid 15px yellow;
	border-right: solid 15px yellow;
 	border-color: yellow;
}

.debug_infos {
  font-size: xx-small;
  font-style: italic;
  color: lightgray;
  text-align: right;
}


.toberemoved {
  background-color: red;
}

.loading {
	text-align: center;
}

.loading:before {
	content: url(img/waiting.gif);
}

/*
 * Base structure
 */

html, body {
  height: 100%;
}

body > .container {
 	padding-bottom: 60px;
}

.submenu {
  background-color: lightgray;
}

h1 > img {
  height: 35px;
  margin-right: 20px;
}
/********************************************
 * Reports
 */

table.reporting > thead {
  border: black 2px solid;
  color: white;
}

table.reporting > thead > tr > th {
  background-color: gray;
}

table.reporting > thead > tr > th.b_right {
    border-right: white 1px solid;
}

table.reporting > thead > tr > th.b_left {
    border-left: white 1px solid;
}

table.reporting > thead > tr > th.b_bottom {
    border-bottom: white 1px solid;
}

table.reporting > thead > tr > th.b_top {
    border-top: white 1px solid;
}

table.reporting > thead > tr > th.b_all {
    border: white 1px solid;
}

table.reporting > tbody > tr > td, table.reporting > thead > tr > th {
   text-align: center;
}

table.reporting > tbody {
  border: black 2px solid;
}

table.reporting > tbody > tr > td:nth-child(1) {
  text-align: left;
}

table.reporting > tbody > tr:nth-child(odd) {
  background-color: lightgray;
}

table.reporting > tbody > tr > .subheader {
  background-color: gray;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

table.reporting > tbody > tr > td.b_right {
    border-right: gray 1px solid;
}

table.reporting > tbody > tr > td.b_left {
    border-left: gray 1px solid;
}

table.reporting > tbody > tr > td.b_bottom {
    border-bottom: gray 1px solid;
}

table.reporting > tbody > tr > td.b_top {
    border-top: gray 1px solid;
}

table.reporting > tbody > tr > td.b_all {
    border: gray 1px solid;
}

/********************************************
 * Data display (modes, emtpyValues)
 */
.summary .emptyValue {
  display: none;
}

.related .emptyValue {
  display: none;
}

.modeRead .emptyValue {
  color: lightgray;
  font-size: smaller;
  background-color: white;
}

.modeRead .notModeRead {
  display: none;
}

.modeWrite .notModeWrite {
  display: none;
}

.catchedError {
  color: rgb(180,0,0);
}

.emptyValue .catchedError {
  color: lightgray;
}
/**********************************************
 * Fieldsets (databoxes)
 */
fieldset {
  border-radius: 10px;
  padding: 10px;
  border-style:solid;
  border-width:2px;
  border-color:#002060;
}

fieldset > legend {
  font-size: 120%;
  color: #004A94;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  margin-bottom: 0;
}

fieldset > legend > label {
  padding: 0;
}

fieldset > table {
  width: 100%;
}

fieldset > table > thead {
  font-style: italic;
}

fieldset > table > tbody > tr:nth-child(odd) {
  background-color: rgb(230, 230, 230);
}

fieldset > table > tbody > tr > td:nth-of-type(1) { /*Setting the width of column 1.*/
  width: 120px;
  font-weight: 700;
}

fieldset > table > tbody > tr > td:nth-of-type(3), fieldset > table > thead > tr > th:nth-of-type(3) { /*Setting the width of column 1.*/
	border-left: solid blue 1px;
	padding-left: 5px;
}

/********************************************
 * Input
 */
input.ng-required {
  border: 1px solid blue;
}

input.ng-invalid, .error {
  border: 3px solid red;
}

input[type=date] {
  /*line-height: inherit !important; */
  line-height: normal !important;  /* Workaround bootstrap */
}

input[type=checkbox].form-control {
  width: auto;
}

.jserror {
  	color: red;
  	min-height: 20px;
  	background-image: url('img/error.png');
	background-repeat: no-repeat;
	background-size: 20px;
	padding-left: 25px;
}

.ui-datepicker-month, .ui-datepicker-year {
	color: black;
}

/********************************************
 * Menu / buttons
 */
button img {
	height: 17px;
}

.left-menu-button {
  width: 100%;
  white-space: normal;
  line-height: 1;
}

.navbar img {
	height: 		15px;
	padding-right:  5px;
}

/********************************************
 *  Marks and graphics
 */
.markContainer {
  /* position: absolute -> relative to the first non-static element -> relative to 0,0 = pseudo-static */
  position: relative;
}

.mark {
  color: red;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: -10px;
}

.mark span {
  margin-left: -50%;
}

.mark.hovered > span {
  background-color: red;
  color: white;
  z-index: 100;
}

tr.hovered {
  background-color: gray;
}

/********************************************
 *  Overlays
 */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	position: absolute;
	text-align: center;
  	background: rgba(3, 3, 3, 0.6);
/* 	background-color: #333; */
	color: #fff;
	z-index: 500;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
	background-color: #333;
/*  	background: rgba(3, 3, 3, 1); */
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/**********************************************
 * Summary
 */
table.summary table > tbody > tr > td:nth-of-type(1) { /*Setting the width of column 1.*/
  width: 120px;
  font-weight: 700;
  padding-right: 10px;
}

/*******************************************
/* Data Legend
 */
table.datalegend {
    font-size: 9px;
    padding: 0px;
    width: 100%;
}

table.datalegend > thead > tr> th {
    font-size: 9px;
    padding: 2px;
}

/********************************************
/******************************************** OLD
/********************************************/

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
