
.nav-tabs > .active {
	background-color: darkgray;
}

svg {
  padding: 5px;
  border: 1px red dashed;
}

#tab_target {
	min-height: calc(100vh - 42px);
	max-height: calc(100vh - 42px);
	overflow-y: scroll;
	overflow-x: scroll;
}

.highlighted {
	stroke: red;
}

.highlighted > rect {
	fill: lightgray;
	fill-opacity: 1;
}