html,
body {
	width: min-content;
}

.nav-tabs>.active {
	background-color: darkgray;
}

svg {
	padding: 5px;
	border: 1px red dashed;
	font-family: Open Sans;
	font-size: 10px;
}

.highlighted {
	stroke: red;
}

.highlighted>rect {
	fill: lightgray;
	fill-opacity: 1;
}

x-legend {
	width: 100%;
}

#tab_target {
	flex-basis: 200px;
	flex-grow: 2;
}

element-editor {
	flex-basis: 200px;
	flex-grow: 1;
	display: block;
}