<!DOCTYPE html>
<html>
  <head>
    <title>Cryptomedic</title>
    <meta charset='utf-8'>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- https://github.com/ampedandwired/html-webpack-plugin/blob/master/default_index.html -->
    <!-- begin CSS files from webpack -->
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}
    <!-- end   CSS files from webpack -->
    <!-- begin JS files from webpack -->
    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
    <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}
    <!-- end   JS files from webpack -->

    <script type='text/javascript' src='static/js/html2canvas.js'></script>

    <script type='text/javascript' src='static/js/application.js'></script>
    <script type='text/javascript' src='static/js/calculations.js'></script>
    <script type='text/javascript' src='static/js/database.js'></script>
    <script type='text/javascript' src='static/js/myfetch.js'></script>
    <script type='text/javascript' src='static/js/service_backend.js'></script>
    <script type='text/javascript' src='static/js/service_session_storage.js'></script>
    <script type='text/javascript' src='static/js/ctrl_allgraphics.js'></script>
    <script type='text/javascript' src='static/js/ctrl_file_bill.js'></script>
    <script type='text/javascript' src='static/js/ctrl_file_appointment.js'></script>
    <script type='text/javascript' src='static/js/ctrl_folder.js'></script>
    <script type='text/javascript' src='static/js/ctrl_graphic.js'></script>
    <script type='text/javascript' src='static/js/ctrl_home.js'></script>
    <script type='text/javascript' src='static/js/ctrl_offline.js'></script>
    <script type='text/javascript' src='static/js/ctrl_picture.js'></script>
    <script type='text/javascript' src='static/js/ctrl_reports.js'></script>
    <script type='text/javascript' src='static/js/ctrl_search.js'></script>
    <script type='text/javascript' src='static/js/ctrl_login.js'></script>
    <script type='text/javascript' src='static/js/ctrl_users.js'></script>
    <script type='text/javascript' src='static/js/start.js'></script>
  </head>
  <body ng-app="app_main" ng-controller="ctrl" id="ng-app" >
    <!--  Navigation bar -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" ng-if="server.settings">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menuMain">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand" href="#">Menu</a>
          <ul class="nav navbar-nav navbar-right">
            <li ng-if='!appStateStore.connection.connected'><p class="navbar-text">
                <img height="20px" id='sync-off' src="static/img/sync/off.png"
                  data-toggle="tooltip" data-placement="bottom" title="Not connected to the server"
                  >
            </p></li>
            <li ng-if='appStateStore.connection.connected && !appStateStore.connection.authenticated'><p class="navbar-text">
                <img height="20px" id='sync-unknown' src="static/img/sync/unknown.png"
                  data-toggle="tooltip" data-placement="bottom" title="Connecting to the server to get status of your browser"
                  >
            </p></li>
            <li ng-if='appStateStore.connection.connected && appStateStore.database.downloading'><p class="navbar-text">
                <img height="20px" id='sync-download' src="static/img/sync/download.png"
                  data-toggle="tooltip" data-placement="bottom" title="Copying data from the server into your browser"
                  >
            </p></li>
            <li ng-if='appStateStore.connection.connected && !appStateStore.database.downloading'><p class="navbar-text">
                <img height="20px" id='sync-ok' src="static/img/sync/ok.png"
                  data-toggle="tooltip" data-placement="bottom" title="Data is up-to-date in your browser"
                  >
            </p></li>
          </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menuMain">
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text" id='login_loggedusername'>{{server.settings.username}}</p></li>
            <li><a id='menu_home' href="#/home" class="navbar-link">
              <img src="static/img/home.gif" height="20px"/>
              Home
            </a></li>
            <li><a id='menu_search' href="#/search" class="navbar-link">
              <img src="static/img/patientsSearch.gif" height="20px"/>
              Search a patient
            </a></li>
            <li><a id='menu_consults' href="#/reports/consultations" class="navbar-link">
              <img src="static/img/consultOfDay.gif" height="20px"/>
              Consults of the day
            </a></li>
            <li><a id='menu_reports' href="#/reports" class="navbar-link">
              <img src="static/img/reports.gif" height="20px"/>
              Reports
            </a></li>
            <li><a id='bug_reporting' href="javascript:bug_reporting()" class="navbar-link">
              <img src="static/img/bug.jpeg"/>
              Bug
            </a></li>
            <li><a id='menu_users'  href='#/users' ng-if="hasPermission('users.manage')">
              <img src="static/img/users.png" height="20px"/>
              Users
            </a></li>
            <li ng-controller='ctrl_login'>
              <button id='logout' type="button" class="btn btn-default navbar-btn" ng-click="doLogout()" >
                <img src="static/img/logout.gif"/>
                Logout
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class='container-fluid'>
      <!--  Pending screen -->
      <!-- Modal fade-->
      <div class="modal " id="busy" role="dialog" aria-labelledby="myModalLabel" aria-describedby="Activity" data-keyboard="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Waiting for: {{appStateStore.state.busy}} tasks on {{appStateStore.state.max}}</h4>
            </div>
            <div class="modal-body">
              <div ng-bind-html='appStateStore.state.messages | nl2br'>
              </div>
            </div>
           </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <div>
        <span ng-repeat="m in messages">
          <div class="alert alert-dismissible" ng-class="'alert-' + m.level" alert-dismissible>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{m.text}}
          </div>
        </span>
        <div ng-view></div>
      </div>
    </div>
    <div ng-controller='ctrl_offline'>
      <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" ng-if="info_available">
        <div class="container-fluid">
          <p ng-if="offline" class="navbar-text"><img src='static/img/sync.png'>{{offline}}</p>
          <button ng-if="refreshAvailable" type="button" class="btn btn-default navbar-btn" ng-click="applicationRefresh()">Refresh the application</button>
        </div>
      </nav>
    </div>
  </body>
</html>
